ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DCDCDB;
}

.button {
  background-color: #FFFFFF;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #A5DFFC;
  color: white;
} 

.principal{
  width: 580px;
}

.exclu{
  display: inline-grid;
  width: 500px;
  
}

.exc{
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 50%;
   height: 30%;
   margin: auto;
}